/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1DB954;
  color: #191414;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.1% 2%;
  box-sizing: border-box;
  height: 7dvh;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding-left: 20px;
  align-items: center;
}

.nav-links.left {
  flex: 1;
  justify-content: flex-start;
}

.nav-links.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.nav-links a, .nav-links .button-link {
  color: #191414;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover, .nav-links .button-link:hover {
  color: #ffdd57;
  background-color: #191414;
}

.nav-links .button-link {
  background-color: #191414;
  color: #1DB954;
}

.nav-links .profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  object-fit: cover;
  margin-top: 5px; /* Adjust this value to move the profile picture down */
}

.nav-links .profile-icon img:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.nav-links .profile-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #191414;
  margin: 5px 0;
  transition: 0.4s;
}

/* Responsive Navigation Menu (Mobile View) */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .menu-toggle {
    display: inline-block;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1DB954;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    gap: 16px;
  }

  .nav-links a, .nav-links .button-link {
    width: 100%;
    padding: 12px 24px;
  }

  .nav-links .profile-icon img {
    width: 50px;
    height: 50px;
  }
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
