.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1DB954;
  color: #191414;
  position: sticky;
  top: 0;
  z-index: 10vh;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2px;
  padding-right: 2px; /* Add padding-right to balance */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.nav {
  flex: 1;
  text-align: right;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding-left: 20px;
}

.nav-links a {
  color: #191414; /* Updated text color */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: bold; /* Make the text bold */
}

.nav-links a:hover {
  color: #ffdd57;
}

/* Responsive Navigation Menu (Mobile View) */
@media (max-width: 768px) {
  .nav-links {
    display:contents;
  }

  .header {
    justify-content: space-between;
  }

  .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #191414; /* Updated text color */
    margin: 5px 0;
    transition: 0.4s;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1DB954; /* Updated background color */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: left;
    padding: 20px 0;
  }

  .nav-links a {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}
