.account-div {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
  height: 100vh; /* Full viewport height */
  padding-top: 20px; /* Add some padding from the top if needed */
}

.account-div-container {
  display: flex;
  padding: 40px;
  max-width: 1200px; /* Adjust width as needed */
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  overflow: hidden; /* Ensure content inside does not overflow */
}

/* Active component styling */
.active-component {
  width: calc(100% - 40px); /* 100% width minus padding */
  padding-left: 20px; /* Optional: add some padding */
  overflow:hidden;
}
